$card_bg-color: #232323;
$input-color: rgba(35,35,35,0.3);
$layout_bg-color: #555;
$card_text-color: rgba(250,250,250,0.7);
$rate-color: rgba(33,169,31, 1);
$numbers-color: rgba(246,82,97, 0.9);

$raleway: 'Raleway', sans-serif;
