@import '../../mixins';

input[type="text"]{
  background-color: $card_bg-color;
  border: none;
  border-radius: 4px;
  outline: none;
  height: 4em;
  width: 47em;
  color: $card_text-color;
  padding: 0;
  padding-left: 10px;
  font-size: 1em;
  font-family: $raleway;
}
form{
  display: flex;
  &>p{
    padding-right: 1em;
  }
}
