@import '../../mixins';

.footer{
  background: $footer_bg-color;
  color: $numbers-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  span:first-child{
    font-weight: 700;
  }
}
